{{#with view}}
  {{view ItemContainer}}

  {{#if showDotIndicators}}
    {{view DotContainer}}
  {{/if}}

  {{#if showButtons}}
    <div {{bind-attr class=":ss-carousel-btn :ss-carousel-next nextBtnDisabled:disabled"}} {{action "slideNext" target="view"}}>
      <div class="ss-carousel-btn-icon"></div>
    </div>
    <div {{bind-attr class=":ss-carousel-btn :ss-carousel-prev prevBtnDisabled:disabled"}} {{action "slidePrev" target="view"}}>
      <div class="ss-carousel-btn-icon"></div>
    </div>
  {{/if}}
{{/with}}
